@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');


body{
    padding: 0;
    margin: 0;
    font-family: a;
    font-family: 'Inconsolata', monospace;
    background-color: #CCC;
}

h1{
    text-align: center;
    font-size: 35px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin-top: 25px;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
  
  .card h2 {
    margin: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .card p {
    margin: 20px;
    font-size: 1rem;
    
  }
  
  .card button {
    display: block;
    margin: 20px;
    padding: 10px 20px;
    background-color: #0077cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .card button:hover {
    background-color: #0066b2;
  }
  